.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
}

.box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.profilePic {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  box-shadow: 5px 5px 10px royalblue;
  overflow: hidden;
  animation: myAnimation 3s infinite;
}

@keyframes myAnimation {
  0%{box-shadow: 5px 5px 10px royalblue;}
  33%{box-shadow: 5px 5px 10px rgb(48, 70, 134);}
  66%{box-shadow: 5px 5px 10px royalblue;}
  100%{box-shadow: 5px 5px 10px rgb(48, 70, 134);}
}

textarea {
  width: 80%;
  height: 40%;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px white;
  background-color: transparent;
  color: white;
  padding: 20px;
  font-size: 20px;
}

button {
  width: 80%;
  border: none;
  outline: none;
  background-color: royalblue;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(58, 96, 209);
}

.pic {
  width: 25vh;
  height: 25vh;
}

.label {
  color: white;
  font-size: 20px;
}